################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0
/obj
/.vs
/TheMarauderMap/.vs/TheMarauderMap
/MarauderMapTest/obj/Debug/net8.0/MarauderMapTest.csproj.FileListAbsolute.txt
/TheMarauderMap/bin/Debug/net8.0/TheMarauderMap.dll
/TheMarauderMap/bin/Debug/net8.0/TheMarauderMap.exe
/TheMarauderMap/bin/Debug/net8.0/TheMarauderMap.pdb
/TheMarauderMap/obj/Debug/net8.0/refint/TheMarauderMap.dll
/TheMarauderMap/obj/Debug/net8.0/apphost.exe
/TheMarauderMap/obj/Debug/net8.0/TheMarauderMap.AssemblyInfo.cs
/TheMarauderMap/obj/Debug/net8.0/TheMarauderMap.AssemblyInfoInputs.cache
/TheMarauderMap/obj/Debug/net8.0/TheMarauderMap.dll
/TheMarauderMap/obj/Debug/net8.0/TheMarauderMap.pdb
/TheMarauderMap/obj/Debug/net8.0/TheMarauderMap.sourcelink.json
/TheMarauderMap/obj/Debug/net8.0/ref/TheMarauderMap.dll
