@page "/"
@using CricHeroesAnalytics.Services.Interfaces
@using TheMarauderMap.Components.Layout
@using TheMarauderMap.Services.Interfaces
@rendermode InteractiveServer
@inherits LayoutComponentBase;
@layout MainLayout;

@inject ISecretService secretService;
@inject IUserLoginService userLoginService;
@inject IJSRuntime jsRuntime;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<!-- Add a button to launch the Upstox login URL -->
<button @onclick="LaunchUpstoxLogin">Login with Upstox</button>
<button @onclick="FetchLoginCode">Fetch Login Code</button>

@if (!string.IsNullOrEmpty(userLoginCode))
{
    <p>User Login Code: @userLoginCode</p>
}

@code {
    private string userLoginCode;

    void LaunchUpstoxLogin()
    {
        var clientId = secretService.GetSecretValue("UptstoxApiKey");
        string redirectUri = secretService.GetSecretValue("redirect_uri");
        string userSessionId = "Robin123";
        var upstoxLoginUrl = $"https://api.upstox.com/v2/login/authorization/dialog?response_type=code&client_id={clientId}&redirect_uri={redirectUri}&state={userSessionId}";

        // Use JS interop to navigate to the URL
        jsRuntime.InvokeVoidAsync("open", upstoxLoginUrl, "_blank");
    }

    void FetchLoginCode()
    {
        userLoginCode = userLoginService.GetUserLoginCode("Robin123");
        this.StateHasChanged();
    }
}
